.profile__add-btn {
    width: 22px;
    height: 22px;
    background: center url(../../../images/plus.png) no-repeat;
    padding: 22px 74px;
    border: 2px solid white;
    margin: 33px 0 auto auto;
    background-color: black;
    cursor: pointer;
    transition: opacity 0.6s ease;
  }
  
  .profile__add-btn:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 767px) {
    .profile__add-btn {
      width: 10px;
      height: 10px;
      padding: 22px 138px;
      margin: 30px auto 0;
    }
  }