.elements{
    max-width: 880px;
    margin: 0 auto 0;
    padding: 0;
    border: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 282px));
    gap: 20px 17px;
    
}

@media screen and (max-width: 1100px) {
    .elements {
      max-width: 700px;
justify-content: center;
    }
      
  }

